:root {
    // --color-primary: #0a192f;
    // --color-primary-light: #0a192f;
    // --color-primary-light-2: rgba(10, 25, 47, 0.99);
    //  --color-green-light: rgb(100, 255, 218);
    //  --color-green-dark: #23BE53;
    // --color-white: rgb(204, 214, 246);
    
    
    --color-grey-dark-2: rgb(136, 146, 176);

     --n: 53;
    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.15);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.04);
     --default-font-size: 1.6rem;
     --color-primary-light: rgba(68, 25, 83, 0.8);
     --color-primary: rgb(50, 13, 62);
      --color-secondary-1: #ffd79d;
      --color-secondary-2: rgba(50, 13, 58, 1);
     --color-primary-text: #f9e5fb;
     --color-secondary-text: rgba(251, 216, 164, 0.8); 
}



*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%


    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(phone) { // width < 900?
        font-size: 48%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }


}

body {
    box-sizing: border-box;
    font-family: 'Lato';
   background: var(--color-secondary-2);

//    padding: 0rem 10rem;
   
    // background-color: var(--color-primary);
 

}


main {
    padding: 0rem 10rem;

    @include respond(tab-port) {
     
          padding: 10rem 2rem;
  
      }
  
      @include respond(phone) {
  
          padding: 10rem 0rem;
  
      }
}