.section-about {
    display: flex;
    margin: 20rem 0rem;
    width: 100%;
    // min-height: 100vh;
    // height: 150vh;
   

    @include respond(tab-land) {
        width: 100%;
        margin: 10rem 0rem;
    
    }
    @include respond(tab-port) {
        width: 100%;
        margin: 10rem 0rem;
    
    }

    @include respond(phone) {
        width: 100%;
        padding: 10rem 3rem;
        flex-direction: column;
    }

    &--skills {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;

        @include respond(phone) {
            margin: 4rem auto;
            order: 2;
        }

    }

    &--eachskills {
        width: 80%;
        background-color: var(--color-primary);
        padding: 4rem 2rem;
        border-radius: 10px;
        box-shadow: var(--shadow-dark);
        transition: all.3s;
        position: relative;

        @include respond(phone) {

            width: 100%;
            margin: 0px auto;
        }


        &:not(:last-child) {
            margin-bottom: 6px;
        }

        &:hover {
            transform: scale(1.05);

            h3 {
                color: var(--color-secondary-1);
            }
        }

        &-type {
            position: absolute;
            bottom: 1rem;

            span {
                font-size: 1.1rem;
                padding-right: 1rem;
                color: var(--color-secondary-text);
            }
        }

    }

    &--details {
        // flex: 1;
        width: 40%;
        vertical-align: middle;


        @include respond(phone) {
            order: 1;
            width: 100%;

        }

        &--name {
            font-size: 3rem;
            color: var(--color-primary-text);
        }
    }
}

.section-projects {
    padding: 10rem 0rem;
    // height: 150vh;
    overflow-y: hidden;


    @include respond(tab-port) {
      overflow-x: hidden;
        padding: 10rem 1.5rem;

    }

    @include respond(phone) {

        padding: 10rem 3rem;

    }

    &--item {
        display: flex;
        padding: 6rem 0rem;
        position: relative;

        overflow-y: hidden;
  


        @include respond(phone) {
            margin-bottom: 1rem;
            width: 100%;
            height: 70rem;

        }

        &--image {
            width: 55%;
            height: 40rem;
            position: relative;

            @include respond(phone) {
                width: 100%;
                height: 100%;
            }



            img {
                width: 100%;
                height: 100%;
                opacity: 0.5;

                @include respond(phone) {
                    width: 100%;

                }


            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background-color: rgba(136, 146, 176, 0.8);

                @include respond(phone) {
                    background-color: rgba(27, 30, 41, 0.8);

                }



            }
        }

        &--links {
            position: absolute;
            margin-top: 2rem;


            &-right {
                right: 0rem;

            }

            &-left {
                left: 0rem;
            }

            @include respond(phone) {
                margin-top: 3rem;

                &-right {
                    right: 2rem;

                }

                &-left {
                    left: 2rem;
                }

            }

            svg {
                // background-color: blanchedalmond !important;
                margin: 0rem 1.2rem;
                fill: blanchedalmond;
                transition: all .1s;
                cursor: pointer;
                height: 2.5rem;
                width: 2.5rem;

                &:hover {
                    fill: var(--color-secondary-1);
                }
            }
        }

        &--details {
            flex: 1;
            margin: 4rem 0rem;
            z-index: 10;

            @include respond(phone) {
                position: absolute;
               top: 4rem;
                right: 0;
                left: 0;
                padding: 0rem 2rem;
                height: 50rem;
                display: flex;
                flex-direction: column;
               justify-content: center;
          
            }


            span {
                font-size: 1.7rem;
                letter-spacing: .1rem;
            }

            h3 {
                font-size: 2.4rem;
                letter-spacing: .1rem;
                margin: 1rem 0rem;

                @include respond(phone) {
                    font-size: 2.4rem;
                }
            }

            p {
                background-color: var(--color-primary);
                padding: 2rem;
                box-shadow: var(--shadow-dark);
                z-index: 3;
                position: absolute;
                right: 0rem;
                width: 50%;

                @include respond(phone) {
                    width: 100%;
                    margin: 2rem 0rem;
                    background: none;
                    position: static;
                    box-shadow: none;
                    padding: 1rem 0rem;
                    font-size: 2rem !important;
                    line-height: 3rem;
                }
            }

            &__align-left {
                
                left: 0rem !important;

                @include respond(phone) {
                    left: 3rem !important;
                }
            }

            &--tech {
                position: absolute;
                right: 0;
                bottom: 12rem;


                @include respond(phone) {
                    //   bottom: 8rem;
                    margin-top: 4rem;
                    //   right: 3rem;
                    position: static;
                    bottom: 0rem;

                }

                span {
                    font-size: 1.4rem;
                    padding: 0rem 1rem;

                    @include respond(phone) {
                        padding: .5rem;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }

    &--others-con {
        padding-top: 20rem;
        width: 70%;
        margin: auto;

        @include respond(tab-land) {
            width: 85%;
         
        
        }
        @include respond(tab-port) {
            width: 100%;
          
       
        }
    
        @include respond(phone) {
            width: 80%;
        }
    }

    &--others {
        display: flex;
        margin-top: 20px;
        @include respond(phone) {
            flex-direction: column;
        }

        &-project {
            margin: 0 .2rem;
            padding: 2rem;
            background-image: linear-gradient(to right, rgb(50, 13, 62), rgba(68, 25, 83, 0.8));
            padding: 2rem;
            box-shadow: var(--shadow-dark);
            transition: all .2s;

            @include respond(phone) {
                margin-top: .4rem;
            }

            &-header {
                padding: 1.5rem 0rem;
                display: flex;
                justify-content: space-between;
            }

            &:hover {
                transform: translateY(-.5rem);
            }

            h3 {
                font-size: 1.8rem;
                padding-top: .1rem;
            }

            p {
                padding-top: 1rem;
                padding-bottom: 10rem;
            }

            &-footer {
                span {
                    font-size: 1.2rem;
                    padding-left: 10px;
                }

            }


        }

    }

}

.section-contact {
    width: 45%;
    margin: 20rem auto;
    text-align: center;

    @include respond(phone) {
        width: 80%;
    }

    span {
        font-size: 2rem;
    }

    h3 {
        font-size: 4.5rem;
        margin: 2rem;
    }

}

.section-footer {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 3rem;
   


    @include respond(phone) {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
  &--links {
    @include respond(phone) {
        order: -1;
        margin: 2rem;
    }


    
  }
    svg {
        margin: 0rem 2rem;
        height: 3rem;
        width: 3rem;
        display: inline-block;
        fill: var(--color-primary-text);
    }
}